:root {
    --dark-primary:#1d1d1d;
    --dark-secondary:#333333;
    --dark-tertiary:#555555;
    --dark-text:#dddddd;
    --dark-card-highlight: rgba(226, 156, 240, 1);

    --light-primary:#ddd;
    --light-secondary:#ccc;
    --light-tertiary:#999;
    --light-text:#000;
    --light-card-highlight: rgba(35, 173, 255, 1);

    --primary-color: var(--dark-primary);
    --secondary-color: var(--dark-secondary);
    --tertiary-color: var(--light-tertiary);
    --text-color: var(--dark-text);
    --card-highlight: var(--dark-card-highlight);

    --badge-text-color: #000;
}

body {
    background-color:var(--primary-color);
}
hr {
    background-color: var(--tertiary-color)
}
dl, ol, ul {
    margin-left:-12px;
}
.card {
    background-color:var(--secondary-color);
    color:var(--text-color);
    z-index:500;
    margin: 0px 10px 15px;
    display: inline-block;
    width: calc(33% - 18px);
    transition: all 200ms ease-out;
}
.card-img-top {
    height:150px;
    object-fit:cover;
}
#large-card { 
    width:100%;
    display:none;
}
.header-icon{
    color:var(--text-color);
    margin-left:12px;
}
.full-page {
    padding:10px 15px;
    height:calc(100% - 100px);
    position:fixed;
    left:10%;
    top:55px;
    width:80%;
    z-index:3000;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .4);
    overflow-y: auto;
}
#close-large-card-layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 400;
}
.x-button {
    color:var(--text-color);
    padding:0px 5px 4px;
    line-height:16px;
    font-weight:bold;
    position:absolute;
    top:5px;
    right:5px;
    border:2px solid var(--text-color);
    border-radius:5px;
}
.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/*
.x-button:hover {
    cursor:default;
}
 */
.blue-hover:hover {
    box-shadow: 0 0 10px 0px var(--card-highlight);
}
.badge {
    margin:0px 5px 0px 0px;
    color:var(--badge-text-color);
}
.navbar {
    border-bottom: 2px solid var(--tertiary-color);
    background-color: var(--secondary-color) !important;
}
.navbar-brand {
    color: var(--text-color) !important;
}
button {
    margin: 0px 4px 10px;
    border: 0px !important;
    border-radius: 0.4em !important;
}
.footer-text {
    text-align: center;
    color:var(--text-color);
}
#loading-spinner {
    width:100vw;
    height: calc(100vh - 58px);
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .card {
        width:calc(50% - 20px);
        /*margin: 0px 0px 15px;*/
    }
    .full-page {
        left:0px;
        top:0px;
        width:calc(100%);
        height:calc(100%);
    }
    .navbar {
        padding-left:0px;
        padding-right:0px;
    }
}
@media only screen and (max-width: 425px) {
    .card {
        width: 100%;
        margin:0px 0px 15px;
    }
}