/* ROOT VARIABLES */
:root {
    --dark-primary:#1d1d1d;
    --dark-secondary:#333333;
    --dark-tertiary:#555555;
    --dark-text:#dddddd;
    --dark-card-highlight: rgba(226, 156, 240, 1);

    --light-primary:#ddd;
    --light-secondary:#ccc;
    --light-tertiary:#999;
    --light-text:#000;
    --light-card-highlight: rgba(35, 173, 255, 1);

    --primary-color: var(--dark-primary);
    --secondary-color: var(--dark-secondary);
    --tertiary-color: var(--light-tertiary);
    --text-color: var(--dark-text);
    --card-highlight: var(--dark-card-highlight);

    --badge-text-color: #000;
}

/* ELEMENTS */
body {
    background-color:var(--primary-color);
}
hr {
    background-color: var(--tertiary-color)
}
dl, ol, ul {
    margin-left:-12px;
}

/* IDs */
#buttonholder {
    margin-bottom: 5px;
}
#close-large-card-layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 400;
}
#large-card {
    width:100%;
    display:none;
}
#loading-spinner {
    width:100vw;
    height: calc(100vh - 58px);
    text-align: center;
}

/* CLASSES */
.badge {
    margin:0px 8px 0px 0px;
    color:var(--badge-text-color);
}
.blue-hover:hover {
    box-shadow: 0 0 10px 0px var(--card-highlight);
}
.card {
    background-color:var(--secondary-color);
    color:var(--text-color);
    z-index:500;
    margin: 0px 10px 15px;
    display: inline-block;
    width: calc(33% - 18px);
    transition: all 200ms ease-out;
}
.card-body {
    position:absolute;
    bottom:0;
    padding-bottom:16px;
    /*width:100%;*/
}
.card-img-top {
    border-radius: inherit;
    position:absolute;
    z-index: -10;
    height:100%;
    object-fit:cover;
}
.card-title {
    margin-bottom:8px;
    padding-right:25px;
    line-height:2.0rem;
    padding-left:20px;
    margin-left:-20px;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.3), rgba(0,0,0,0.0));
    color: var(--dark-text);
}
.full-page {
    padding:15px 15px 15px;
    max-height:calc(100%);
    position:fixed;
    left:10%;
    top:55px;
    width:80%;
    z-index:3000;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .4);
    overflow-y: auto;
}
.footer-text {
    text-align: center;
    color:var(--text-color);
}
.header-icon {
    color:var(--text-color);
    margin-left:12px;
}
.header-icon:hover {
    cursor:pointer;
}
.navbar {
     border-bottom: 2px solid var(--tertiary-color);
     background-color: var(--secondary-color) !important;
     margin-bottom: 15px;
 }
.navbar-brand {
    color: var(--text-color) !important;
}
.recipe-thumb {
    height:125px;
    max-width:100%;
    border: 3px solid white;
}
.small-card {
    border-radius: 10px;
    height:175px;
    border: none;
}
.small-card:hover {
    cursor:pointer;
}
.summary{
    margin-bottom:8px;
}
.tag-button{
    margin: 0px 5px 10px;
    border: 0px !important;
    border-radius: 0.4em !important;
}
.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.x-button {
    color:var(--text-color);
    padding:0px 5px 4px;
    line-height:16px;
    font-weight:bold;
    position:absolute;
    top:5px;
    right:5px;
    border:2px solid var(--text-color);
    border-radius:5px;
    z-index:9001;
    background: var(--primary-color);
}
.x-button:hover {
     cursor:pointer;
 }

/* MEDIA CALLS */
@media only screen and (max-width: 768px) {
    .card {
        width:calc(50% - 20px);
    }
    .full-page {
        left:0px;
        top:0px;
        width:calc(100%);
        height:calc(100%);
        margin:0px 0px;
    }
    .navbar {
        padding-left:0px;
        padding-right:0px;
    }
}
@media only screen and (max-width: 425px) {
    .card {
        width: 100%;
        margin: 0px 0px 15px;
    }
    .small-card {
        height:125px;
    }
    .x-button{
        top:unset;
        bottom:10px;
        right:10px;
        line-height:14px;
        font-size:24px;
        padding: 0px 5px 8px;
        position:fixed;
    }
}