body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#current-weather-icon {
    max-height: 72px;
    margin: -24px -8px -16px ;
}
#banner-div {
    text-align: center;
}
#links-list {
    display:flex;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
#links-list > li {
    padding: 10px;
}
#main-title {
    text-align: center;
    margin:auto;
}
#main-tray {
    padding:20px;
    margin:50px auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
#serugai-banner {
    margin: -20px -50px -10px;
    height: 100px;
}
#temp-text {
    font-size: medium;
    font-weight: normal;
}
#weather-extra-table {
    margin-top:15px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: small;
}
#weather-extra-table td {
    width: 33%;
}
#weather-table {
    width:100%;
    color: white;
    table-layout: fixed;
}
#zodiac-symbol {
    float: right;
}
.daily-temp {
    width: 45px;
    text-align: center;
    padding-left:5px
}
.day-name {
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-hr {
    border-top: 2px solid white;
    filter: opacity(50%);
}
.precip {
    font-size: small;
    width: 60px;
    line-height: 30px;

}
.weather-extra-icon {
    padding-bottom: 10px;
}
.weather-icon {
    margin: -10px 0 -8px 0;
}
.weather-icon-column {
    width: 50px;
}
/* MEDIA CALLS */
@media only screen and (max-width: 768px) { /*TABLET*/
    /* #main-tray {
        
    } */
}
@media only screen and (max-width: 425px) { /* PHONE*/
    .container {
        padding: 0 5px;
    }
    #main-tray {
        margin:10px auto;
        padding: 15px;
    }
}
/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(100); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }