body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#banner-div {
    text-align: center;
}
#main-title {
    text-align: center;
    margin:auto;
}
#main-tray {
    padding:20px;
    margin:50px auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: larger;
}
#serugai-banner {
    margin: -20px -50px -10px;
    height: 100px;
}
#zodiac-symbol {
    float: right;
}
.my-hr {
    border-top: 2px solid white;
}
.weather-icon {
    max-height: 72px;
    margin: -24px -5px -16px ;
}
/* MEDIA CALLS */
@media only screen and (max-width: 768px) { /*TABLET*/
    /* #main-tray {
        
    } */
}
@media only screen and (max-width: 425px) { /* PHONE*/
    .container {
        padding: 0 5px;
    }
    #main-tray {
        margin:10px auto;

    }
}
/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(100); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }