body {
  background: #f1fff1;
}

#heardle-inputs {
  display: none;
}

#connections-inputs {
  display: none;
}


#heardle-preset-buttons {
  display:inline-flex;
}

#outputDiv {
  display: none;
}

#outputText {
  cursor: grab;
}

.container {
  padding-top: 30px;
  width: 100%;
}
