/* This is the style for the popup */

body {
    background-color: darkslategrey;
    color:antiquewhite;
    padding: 5px 10px 10px;
    border: 2px solid antiquewhite;
    width: 210px;
    user-select: none;
}

label {
    margin: 0;
}
.align-left {
    text-align: left;
}

.chat {
    display: none;
}

.center {
    text-align: center;
}
.center > div, .center > table /* insert any other block-level elements here */ {
    margin-left: auto;
    margin-right: auto;
}

.settings-table {
    width: 100%;
}


